@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/peydaWeb-light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/PeydaWeb-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/PeydaWeb-Bold.woff") format("woff");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Peyda";
}
/*  style::  custom date picker  */
.vpd-icon-btn {
  background-color: #e2cfea3d !important;
  color: #5e548ea1 !important;
  border-radius: 10px !important;
  box-shadow: rgba(12, 12, 19, 0.3) 0px 2px 2px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 30px;
}
.vpd-icon-btn svg {
  fill: #5e548ea1 !important;
}
.form-control {
  border-radius: 12px !important;
  background-color: #e2cfea3d;
  box-shadow: rgba(12, 12, 19, 0.372) 0px 2px 2px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 2px -1px;
  height: 50px;
  width: 100%;
}
.vpd-input-group {
  gap: 10px;
  align-items: center;
}
.vpd-input-group,
.form-control {
  color: rgb(87, 85, 85) !important;
}
.vpd-header {
  background-color: #5e548ea1 !important;
  color: #003566 !important;
  font-family: "Peyda";
}
.vpd-month-label {
  color: #003566 !important;
  font-family: "Peyda";
}
.vpd-day-effect {
  background-color: #5e548ea1 !important;
}
.vpd-day-text {
  color: #4d4f51 !important;
  font-family: "Peyda";
}
.vpd-actions button {
  color: #5e548e !important;
  font-size: 15px !important;
  font-weight: 600;
  font-family: "Peyda";
}
.vpd-weekday {
  font-family: "Peyda";
}
@media (min-width: 526px) {
  .vpd-input-group {
    padding: 0;
  }
}
.custom-input .v-input__control input {
  color: rgb(87, 85, 85) !important;
}

/*  style::  filter box  */
.custom-menu .v-list {
  background-color: #e7ddea !important;
  transition: background-color 0.3s ease;
}
.custom-menu .v-list-item {
  color: #003566 !important;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.custom-menu .v-list-item:hover {
  color: #5e548e !important;
}

.custom-toast {
  background: #c4b4cc !important;
  color: #3a3a3a !important;
  border-radius: 10px !important;
  padding: 10px !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}
.Vue-Toastification__close-button {
  color: #3a3a3a !important;
}
